.containerProfile{
    min-height: 100vh;
    background: url('../../public/GoldTrainer.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.copyright {
    bottom: 0;
    width: 100%;
}